body{
    background-color: #d8d8d8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.firstdiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    color: white;
    background-color: white;



}
.seconddiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: white;

}
.thirddiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: white;
}
h1{
    color: black;
    font-size: 20px;
        
}
h3{
    color:#a5adbb;
    font-size: small;

}
h5{
    color:black;
    font-size: 150%;
}
.inline1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-inline-end: 5%;
    margin-inline-start: 7%;
    margin-top: 3%;
    
}
p{
    color:#6e798c;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inline2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 7%;
    margin-inline-end: 7%;
}
del{
    color: red;
    font-size: 80%;
}
button{
    width:100px;
    height: 40px;
    color:white;
    background-color: #2ECC71;
    border-radius: 4px;
}
.inline3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 7%;
    margin-inline-end: 7%;
}