body{
    background-color: #d8d8d8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.firstdiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    color: white;
    background-color: white;



}
.seconddiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: white;

}
.thirddiv{
    width: 360px;
    height: 528px;
    border-radius: 16px;
    background-color: white;
}
h1{
    color: black;
    font-size: 20px;
        
}
h3{
    color:#a5adbb;
    font-size: 100%;

}
h5{
    color:black;
    font-size: 150%;
}
h6{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.mtavari{
    border: solid #2ECC71;
    background-color: #2ECC71;
    width: 114px;
    height:44px;
    border-radius:4px;
    letter-spacing: 4px;
}

.inline1{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-inline-end: 5%;
    margin-inline-start: 7%;
    margin-top: 3%;
    
}

p{
    color:#6e798c;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inline2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 7%;
    margin-inline-end: 7%;
}
del{
    color: red;
    font-size: 80%;
}

.inline3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 7%;
    margin-inline-end: 7%;
}
.mtavari:hover{
    background:black;
}
.image3{
    position: absolute;
    margin-left: 20%;
}
.image4{
    position: absolute;
    margin-left: 20%;
}
.image5{
    position: absolute;
    margin-left:20%
}
